---
layout: office
title: Büro
permalink: /buero/
---

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-no-padding col-no-right-padding">
                <nav class="col-fix-left">
                    <header>
                        <div id="header">
                            <div id="logo">
                                <a href="/" class="logo"><strong>Numrich Albrecht Klumpp</strong></a>
                            </div>

                            <nav id="menu">
                                <a href="/projekte/#highlight" id="menu-projekte" class="no1 btn btn-default">Projekte</a> 
                                <span class="no2 act btn btn-default">Büro</span>
                                <a href="https://www.instagram.com/nak_architekten/" class="no2 btn btn-default">Aktuelles @Instagram</a>
                            </nav>
                        </div>
                    </header>

                </nav>

                <div class="col-dyn-right col-no-padding">
                    <div id="content" class="container-fluid">

                        <div class="row row-first">
                            <div class="col-xs-12 visible-xs-inline-block">
                                <h3 class="visible-xs-inline-block">Kontakt</h3>
                            </div>

                            <div class="col-xs-12 col-md-6 col-lg-4 col-no-padding">
                                <div id="carousel-kontakt" class="one-slide carousel slide carousel-fade" data-ride="carousel" data-interval="5000" data-pause="hover">
                                <!-- use class "one-slide" to reset left/right arrows e.g. if using only one slide -->

                                    <ol class="carousel-indicators"></ol>

                                    <div class="carousel-inner" role="listbox">
                                        <div class="item loadfast active">
                                            <img class="img-responsive" src="{% if site.mode contains 'dev' %}{% else %}http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_900,h_600,c_fill,q_90,f_auto,fl_progressive,fl_force_strip/{% endif %}{{site.url}}/buero/kontakt/02_Office.jpg">
                                        </div>
                                        
                                        <!--
                                        <div class="item loadfast">
                                            <img class="img-responsive" src="{% if site.mode contains 'dev' %}{% else %}http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_600,h_400,c_fill,q_88,f_auto,fl_progressive,fl_force_strip/{% endif %}{{site.url}}/buero/kontakt/2-IMG_6036-BEA.jpg">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="{% if site.mode contains 'dev' %}{% else %}http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_600,h_400,c_fill,q_88,f_auto,fl_progressive,fl_force_strip/{% endif %}{{site.url}}/buero/kontakt/3-IMG_6027-BEA.jpg">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="{% if site.mode contains 'dev' %}{% else %}http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_600,h_400,c_fill,q_88,f_auto,fl_progressive,fl_force_strip/{% endif %}{{site.url}}/buero/kontakt/4-IMG_6033-BEA.jpg">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="{% if site.mode contains 'dev' %}{% else %}http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_600,h_400,c_fill,q_88,f_auto,fl_progressive,fl_force_strip/{% endif %}{{site.url}}/buero/kontakt/5-IMG_6028-BEA.jpg">
                                        </div>
                                        
                                        -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6 col-lg-8 col-with-padding right textcontent">

								<h3 class="hidden-xs">Kontakt</h3>

                                <div itemscope itemtype="http://schema.org/LocalBusiness">
									<strong itemprop="name">Numrich Albrecht Klumpp</strong><br/>
									Gesellschaft von Architekten mbH<br/><br/>
									<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
										<span itemprop="streetAddress">Stromstraße 3</span>, <span itemprop="postalCode">10555</span> <span itemprop="addressLocality">Berlin</span></address><br/><br/>
										<a href="mailto:info@nak-architekten.de">info@nak-architekten.de</a><br/>
										Telefon: <a href="tel:++493061676920">+49 (0)30 616 76 92-0</a><br/>
										Telefax: +49 (0)30 616 76 92-30
                                </div>

                            </div>
                        </div>
                        
                        



                        <div id="Team" class="row">
                            <div class="col-xs-12">
                                <h3 class="visible-xs-inline-block">Team + Aktivitäten</h3>
                            </div>

                            <div id="carousel-teamakt" class="col-xs-12 col-no-padding carousel slide carousel-fade" data-ride="" data-interval="false">

                                <div class="carousel-inner" role="listbox">


{% assign counter = 0 %}
{% for post in site.categories.team %}

                                    <div class="item{% if counter == 0 %} active{% endif %}{% if counter == 0 %} {% endif %}{% if counter == 1 %} {% endif %}">
										<div class="container-fluid">

											<div class="row">
												<div class="col-xs-12 col-md-6 col-lg-4 col-with-padding left textcontent">
													<div>
															<h3 class="hidden-xs">Team + Aktivitäten</h3>
															<p>
															{{ post.title }}
															</p>
															<p>
																{% if counter == 0 %}
																<a href="#" onclick="$('#carousel-teamakt').carousel('next'); return false;">&gt;&gt; Aktivitäten</a>
																{% else %}
																<a href="#" onclick="$('#carousel-teamakt').carousel(0); return false;">&gt;&gt; Team</a>
																{% endif %}
															</p>
													</div>
												</div>
												<div class="col-xs-12 col-md-6 col-md-offset-6 col-lg-8 col-lg-offset-4 col-no-padding">

													<a href="#" class="nextcursor" onclick="$('#carousel-teamakt').carousel('next'); return false;"><img class="img-responsive" src="{% if site.mode contains 'dev' %}{% else %}http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_1200,h_800,c_fill,q_90,f_auto,fl_progressive,fl_force_strip/{% endif %}{{ post.image | prepend: site.url }}"/></a>

												</div>
											</div>

										</div>
                                    </div>

	{% assign counter = counter | plus: 1 %}
{% endfor %}

                                </div>
                            </div>
                        </div>
                        
                        

                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="visible-xs-inline-block visible-sm-inline-block"><a href="#" onclick="$('#carousel-partner').carousel(0); $('#carousel-partner').carousel('pause'); return false;">Partner</a></h3>
                            </div>

                            <div id="carousel-partner" class="col-xs-12 col-no-padding carousel slide carousel-fade" data-ride="" data-interval="false">

                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-12 col-md-6 col-lg-4 col-no-padding">
													<a href="#" class="nextcursor" onclick="$('#carousel-partner').carousel(1); $('#carousel-partner').carousel('pause');return false;"><img class="img-responsive" src="{% if site.mode contains 'dev' %}{% else %}http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_600,h_400,c_fill,q_88,f_auto,fl_progressive,fl_force_strip/{% endif %}{{site.url}}/buero/partner/01_Partner_v03.jpg" /></a>
												</div>
												<div class="col-xs-12 col-md-6 col-lg-8 col-with-padding right textcontent">
													<div>
														<h3 class="hidden-xs hidden-sm">Partner</h3>
														<p>
															Das Architektur- und Generalplanungsbüro wurde 1981 von Arthur Numrich und Werner Albrecht gegründet. Seit 2013 wird es geleitet von:
														</p>
                                                        <a href="#" onclick="$('#carousel-partner').carousel(1); $('#carousel-partner').carousel('pause');return false;">&gt;&gt; Arthur Numrich</a>
                                                        <a href="#" onclick="$('#carousel-partner').carousel(2); $('#carousel-partner').carousel('pause');return false;">&gt;&gt; Tiemo Klumpp</a>
                                                        <a href="#" onclick="$('#carousel-partner').carousel(3); $('#carousel-partner').carousel('pause');return false;">&gt;&gt; Grant Kelly</a>
													</div>
												</div>
											</div>
										</div>
                                    </div>

                                    <div class="item">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-12 col-md-6 col-lg-4 col-no-padding">
													<a href="#" class="nextcursor" onclick="$('#carousel-partner').carousel(2); $('#carousel-partner').carousel('pause');return false;"><img class="img-responsive" src="{% if site.mode contains 'dev' %}{% else %}http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_900,h_600,c_fill,q_90,f_auto,fl_progressive,fl_force_strip/{% endif %}{{site.url}}/buero/partner/02_ArthurNumrich_v1.jpg" /></a>
                                                    <p class="left-right-buttons">
                                                    	<a href="#" onclick="$('#carousel-partner').carousel(0); $('#carousel-partner').carousel('pause');return false;">&gt;&gt;&nbsp;Alle</a>
                                                    </p>
												</div>
												<div class="col-xs-12 col-md-6 col-lg-8 col-with-padding right">
														<p>
															<strong class="justify-to-img">Arthur Numrich</strong>
															&nbsp; <span>Dipl.-Ing. Architekt</span>
														</p>

                                                        <dl>
                                                            <dt>1950</dt>       <dd>geboren in Landshut</dd>
                                                            <dt>1968</dt>       <dd>Maurergesellenprüfung</dd>
                                                            <dt>1972</dt>       <dd>grad. Ing., Polytechnikum Würzburg (Hochbau)</dd>
                                                            <dt>1976</dt>       <dd>Dipl.-Ing., Technische Universität Berlin (Architektur)</dd>
                                                            <dt>1976–78</dt>    <dd>Freie Universität Berlin, Studium der Soziologie</dd>
                                                            <dt>1978–80</dt>    <dd>Referendariat bei der Senatsverwaltung für Bau- & Wohnungswesen, 2. Staatsprüfung</dd>
                                                            <dt>seit 1981</dt>  <dd>Bürogemeinschaft mit Werner Albrecht</dd>
                                                            <dt>seit 2000</dt>  <dd>Partner in Numrich Albrecht Klumpp Gesellschaft von Architekten mbH</dd>
                                                        </dl>
												</div>
											</div>
										</div>
                                    </div>

                                    <div class="item">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-12 col-md-6 col-lg-4 col-no-padding">
													<a href="#" class="nextcursor" onclick="$('#carousel-partner').carousel(3); $('#carousel-partner').carousel('pause');return false;"><img class="img-responsive" src="{% if site.mode contains 'dev' %}{% else %}http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_600,h_400,c_fill,q_88,f_auto,fl_progressive,fl_force_strip/{% endif %}{{site.url}}/buero/partner/03_TiemoKlumpp_v1.jpg" /></a>
                                                    <p class="left-right-buttons">
                                                    	<a href="#" onclick="$('#carousel-partner').carousel(0); $('#carousel-partner').carousel('pause');return false;">&gt;&gt;&nbsp;Alle</a>
                                                    </p>
												</div>
												<div class="col-xs-12 col-md-6 col-lg-8 col-with-padding right">
														<p>
															<strong class="justify-to-img">Tiemo Klumpp</strong>
															&nbsp; <span>Dipl.-Ing. (FH) Arch.</span>
														</p>
				                                    <dl>
				                                        <dt>1969</dt>       <dd>geboren in Waldkirch</dd>
				                                        <dt>1995</dt>       <dd>Dipl.-Ing. FH Augsburg (Fachrichtung Architektur)</dd>
				                                        <dt>1995</dt>       <dd>Mitarbeit im Büro Schweger + Partner in Hamburg</dd>
				                                        <dt>1996</dt>       <dd>Mitarbeit im Büro Karl Klumpp</dd>
				                                        <dt>1997</dt>       <dd>Mitarbeit im Büro Numrich + Albrecht</dd>
				                                        <dt>seit 2000</dt>  <dd>Partner in Numrich Albrecht Klumpp Gesellschaft von Architekten mbH</dd>
				                                    </dl>
												</div>
											</div>
										</div>
                                    </div>

                                    <div class="item">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-12 col-md-6 col-lg-4 col-no-padding">
													<a href="#" class="nextcursor" onclick="$('#carousel-partner').carousel(0); $('#carousel-partner').carousel('pause');return false;"><img class="img-responsive" src="{% if site.mode contains 'dev' %}{% else %}http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_600,h_400,c_fill,q_88,f_auto,fl_progressive,fl_force_strip/{% endif %}{{site.url}}/buero/partner/04_GarntKelly_v1.jpg" /></a>
                                                    <p class="left-right-buttons">
                                                    	<a href="#" onclick="$('#carousel-partner').carousel(0); $('#carousel-partner').carousel('pause');return false;">&gt;&gt;&nbsp;Alle</a>
                                                    </p>
												</div>
												<div class="col-xs-12 col-md-6 col-lg-8 col-with-padding right">
														<p>
															<strong class="justify-to-img">Grant Kelly</strong>
															&nbsp; <span>M. Arch.</span>
														</p>
				                                    <dl>                        
				                                        <dt>1968</dt>       <dd>geboren in Ottawa / Kanada</dd>
				                                        <dt>1997</dt>       <dd>Master of Architecture, University of Manitoba</dd>
				                                        <dt>1997–02</dt>    <dd>Mitarbeit im Büro Klaus Roth Architekten in Berlin</dd>
				                                        <dt>2002–04</dt>    <dd>Mitarbeit im Büro Wolfgang Latzel Architekten in Berlin</dd>
				                                        <dt>seit 2004</dt>  <dd>Mitarbeit im Büro Numrich Albrecht Klumpp Architekten</dd>
				                                        <dt>seit 2012</dt>  <dd>Partner in Numrich Albrecht Klumpp Gesellschaft von Architekten mbH</dd>
				                                    </dl>
												</div>
											</div>
										</div>
                                    </div>


                                </div>
                            </div>
                        </div>


						<div class="row subtext-content" id="Impressum">
                            <div class="col-xs-12">
                            	<div class="row">
                            		<div class="col-xs-12 col-md-6 col-lg-8 col-lg-offset-4 textcontent">
                            			<h3>Auszug Preisrichtertätigkeiten Arthur Numrich</h3>
                            			<p>
                            				> Kunst am Bau Integrierte Sekundarschule Lichtenberg // Berlin Lichtenberg<br/>
                            				> "Der neue Stöckach" // Stuttgart<br/>
                            				> Stützpunktfeuerwehr // Bad Belzig<br/>
                            				> DESY-Forschungscampus // Zeuthen<br/>
                            				> Rathauseck // Beelitz<br/>
                            				> Bildungs- und Kulturcampus // Birkenwerder<br/>
                            				> Leibniz-Institute für Länderkunde // Leipzig<br/>
                            				> Martin-Behaim-Gymnasium // Nürnberg<br/>
                            				> Verwaltungsgebäude der Kreisverwaltung // Trier<br/>
                            				> Haus der Statistik // Berlin Mitte<br/>
                            				> Grundschule und Bürgerzentrum Hegermühle // Strausberg<br/>
                            				> Konzerthaus an der Meistersingerhalle // Nürnberg<br/>
                            				> Hort am Hochwald // Kleinmachnow<br/>
                            				> Campus am Inselplatz der Friedrich-Schiller-Universität // Jena<br/>
                            				> Rosa-Luxemburg-Stiftung // Berlin Friedrichshain-Kreuzberg<br/>
                            				> Deutsche Schule der Borromäerinnen // Alexandria<br/>
                            				> DFB Akademie und Zentrale // Frankfurt am Main<br/>
                            				> Verwaltungsbau der Stiftung Unionhilfswerk // Berlin Friedrichshain-Kreuzberg<br/>
                            				> Offices und Conference & World of Sports der ADIDAS AG // Herzogenaurach<br/>
                            				> Haus für die TAZ // Berlin Friedrichshain-Kreuzberg<br/>
                            				> Berufsschulzentrum // Wetzlar<br/>
                            				> Tor auf Schalke // Gelsenkirchen-Schalke<br/>
                            				> Hotel und Wohnen an der Spree // Berlin Mitte<br/>
                            				> Kunstwettbewerb Kastanienhofschule // Berlin Lichtenberg<br/>
                            				> Sukhavati Spiritual Care Center // Bad Saarow<br/>
                            				> Kunstwettbewerb Campus Wilhelminenhof der HTW // Berlin Oberschöneweide<br/>
                            				> Werkstatt für behinderte Menschen Fürstenbrunner Weg // Berlin<br/>
                            				> Schulsporthalle Bäumerplan // Berlin Tempelhof-Schöneberg<br/>
                            				> Brandenburgischer Landtag // Potsdam<br/>
                            				> Deutsche Schule // Madrid<br/>
                            				> Erweiterungsbau Ludwig-Hoffmann-Grundschule // Berlin Friedrichshain-Kreuzberg<br/>
                            			</p>
                            		</div>
                            	</div>

                            	<div class="row">
		                            <div class="col-xs-12 col-md-6 col-lg-8 col-lg-offset-4 textcontent">
		                                <h3>Impressum</h3>
										<p>
											Numrich Albrecht Klumpp<br/>
											Gesellschaft von Architekten mbH
										</p>
										<p>
											Stromstraße 3<br/>
											10555 Berlin 
										</p>
										<p>
											<a href="tel:++493061676920">Telefon: +49 (0)30 616 76 92-0</a><br/>
											Telefax: +49 (0)30 616 76 92-30<br/> 
											<a href="mailto:info@nak-architekten.de">E-Mail: info@nak-architekten.de</a><br/>
										</p>
										<p>
											Umsatzsteueridentifikationsnummer: DE 261 999 384<br/>
											Vertretungsberechtigte: Arthur Numrich · Tiemo Klumpp · Grant Kelly<br/>
											Registergericht: Amtsgericht Berlin-Charlottenburg<br/>
											Registernummer: HRB 11 23 26 B
										</p>
										<p>
											Fotos Kontakt, Team, Partner: <a href="http://facesbyfrank.com/">Frank Röthel</a><br/>
											Fotos Aktivitäten: Numrich Albrecht Klumpp Architekten<br/>
											Fotos Projekte: Fotocredits in den Projektinformationen<br/>
											Design: <a href="http://www.mariannekampel.com/">Marianne Kampel</a> und <a href="https://j2h.com/">Jan-Henrik Hempel</a><br/>
											Realisierung: <a href="https://j2h.com/" title="Website Development Jekyll">Jan-Henrik Hempel</a>
										</p>
		
		
										<h3>Urheberrecht</h3>
										<p>
											Alle Texte, Bilder sowie das Layout dieser Website sind weltweit urheberrechtlich geschützt. Die Verwendung der Inhalte bedarf einer schriftlichen Genehmigung durch Numrich Albrecht Klumpp Gesellschaft von Architekten mbH. Die auf dieser Seite genannten Produktbezeichnungen, Marken oder Firmennamen sind Eigentum der jeweiligen Inhaber und unterliegen als solche dem gesetzlichen Warenzeichen-, Marken- und/oder patentrechtlichen Schutz. Ein Gegendarstellungsanspruch gilt nur im Sinne des §10 MDStV.
										</p>
		
		                            </div>
		                            <div class="col-xs-12 col-md-6 col-lg-8 col-lg-offset-4 textcontent">
										<h3>Datenschutzbestimmung</h3>
										<p>
											Das Hosting dieser Website erfolgt durch GitHub Pages (<a href="https://pages.github.com/">https://pages.github.com/</a>). Durch den Zugriff können grundsätzlich Nutzungsdaten durch GitHub erhoben werden. Mehr Informationen für Erhebung und Analyse von Zugriffen finden Sie bei GitHub Pages (<a href="https://help.github.com/articles/github-privacy-policy/">https://help.github.com/articles/github-privacy-policy/</a>).
										</p>
										<p>
											Die Bildverwaltung dieser Website erfolgt durch Cloudinary (<a href="http://cloudinary.com/">http://cloudinary.com/</a>).  Durch den Zugriff können grundsätzlich Nutzungsdaten durch Cloudinary erhoben werden. Mehr Informationen für Erhebung und Analyse von Zugriffen finden Sie bei Cloudinary (<a href="http://cloudinary.com/privacy">http://cloudinary.com/privacy</a>).
										</p>
										<p>
											Für die Erhebung und Analyse der Nutzung dieser Website wird Google Analytics (<a href="https://www.google.com/intl/de_de/analytics/">https://www.google.com/intl/de_de/analytics/</a>) verwendet. Zweck des Einsatzes ist die statistische Analyse der quantitativen und qualitativen Nutzung dieser Website. Es werden keine persönlichen Informationen erhoben. Mehr Informationen finden sie bei Google Analytics (<a href="http://www.google.com/intl/de/policies/privacy/">http://www.google.com/intl/de/policies/privacy/</a>). Um ein Tracking durch Google Analytics zu vermeiden nutzen Sie bspw. Tools wie Ghostery (<a href="https://www.ghostery.com/de/">https://www.ghostery.com/de/</a>) oder Blockieren Sie das Tracking bei Google Analytics selbst (<a href="https://tools.google.com/dlpage/gaoptout?hl=de">https://tools.google.com/dlpage/gaoptout?hl=de</a>).
										</p>
		
		                            </div>
								</div>

                            </div>
						</div>

                </div>
            </div>
        </div>
    </div>
</section>