<head>
	<title>{{ site.title | replace:'"','' }} {% if page.shorttitle %}  //  {{ page.shorttitle | replace:'"','' }}{% elsif page.title %} // {{ page.title | replace:'"','' }}{% else %} {% endif %}</title>
    <meta property="og:title" content="{% if page.shorttitle %}{{ page.shorttitle | replace:'"','' }}{% else %}{{ site.title | replace:'"','' }}{% endif %} // {{ site.title | replace:'"','' }}" />
    <meta name="twitter:title" content="{% if page.shorttitle %}{{ page.shorttitle | replace:'"','' }}{% else %}{{ site.title | replace:'"','' }}{% endif %} // {{ site.title | replace:'"','' }}" />
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=320, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="geo.region" content="DE-BE" />
	<meta name="geo.placename" content="Berlin" />
	<meta name="geo.position" content="52.496885;13.418697" />
	<meta name="ICBM" content="52.496885, 13.418697" />
	<meta property="og:locale" content="de_DE" />
	<meta property="og:site_name" content="{{ site.title }}" />	
	<base href="{{site.url}}/" />
	<meta name="twitter:site" content="{{site.url}}/" />
	<meta property="og:url" content="{{ page.url | prepend:site.url }}" />	
	<meta name="twitter:card" content="summary_large_image" />
	<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/1f7b1704-bf70-46f0-be59-1d7774c68166.css"/>
	<link rel="stylesheet" href="/main.css" />
	<link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png"/>
	<link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png"/>
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png"/>
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png"/>
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png"/>
	<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png"/>
	<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png"/>
	<link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png"/>
	<link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png"/>
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png"/>
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png"/>
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png"/>
	<link rel="manifest" href="/img/manifest.json"/>
	<meta name="msapplication-TileColor" content="#ffffff"/>
	<meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png"/>
	<meta name="theme-color" content="#ffffff"/>
{% if page.description %}	
	<meta name="description" content="{{ page.description }}" />
	<meta name="og:description" content="{{ page.description }}" />
    <meta property="twitter:description" content="{{ page.description }}" />
{% else %}
	<meta name="description" content="{{ page.content | markdownify | replace:'"','' | strip_html | strip_newlines | replace:'.','. ' | truncatewords: 20 }}" />
   	<meta name="og:description" content="{{ page.content | markdownify | replace:'"','' | strip_html | strip_newlines | replace:'.','. ' | truncatewords: 20 }}" />
   	<meta property="twitter:description" content="{{ page.content | markdownify | replace:'"','' | strip_html | strip_newlines | replace:'.','. ' | truncatewords: 20 }}" />
{% endif %}
{% if page.tags %}	<meta name="keywords" content="{{ page.tags | join: "," }}" />{% endif %}
{% if page.images %}
	<meta property="og:image" content="http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_520,q_88,f_auto,fl_progressive,fl_force_strip/{% for image in page.images limit:1 %}{{ image | prepend: site.url }}{% endfor %}" />
	<meta name="twitter:image" content="http://res.cloudinary.com/{{site.cloudinaryaccount}}/image/fetch/w_520,q_88,f_auto,fl_progressive,fl_force_strip/{% for image in page.images limit:1 %}{{ image | prepend: site.url }}{% endfor %}" />
{% endif %}

{% if site.cloudinaryaccount %}
	<script>
		var cloudinaryAccount = '{{site.cloudinaryaccount}}';
	</script>
{% else %}
	<script>
		var cloudinaryAccount = false;
	</script>
{% endif %}

</head>
