@media screen and (min-width: 550px) {

	.touch .project #promotion-slides {
		margin-top: -100%;
	}
	
	.touch #project-detail {
		margin-left: 230px;
		margin-right: 120px;
		margin-top: 100%;
	}
	
	.touch #project-detail-content{
		margin-top: 100%;
		margin-bottom: 400px;
		z-index: 200;
		margin-left: 0;
		width: 100%;
	}
	
	.touch .spacer{
		display: none;
	}

}