html, body {
	height: 100%;
}

html.projects {
	height: auto;
	min-height: 100%;
	overflow-x: none;
	overflow-y: none;
}

html.projects body {
	height: auto;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
body {
	background-color: white;
	font-family:  $font-family;
	color:  $text-color;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: inherit;
}

h1, h2, h3, h4, h5, dt {
	font-weight: normal;
}

.btn {
	font-weight: inherit;
}

a, a:active, a:focus, .btn-default:active, .btn-default:focus {
	color:  $text-color;
	text-decoration: none;
}

a:hover, .btn-default:hover {
	font-weight: bold;
	text-decoration: none;
	color:  $text-color;
}

a[target="_blank"]:before {
	content: ">> ";
}

.project-tile a:hover h3 {
	font-weight: bold;
}

a.act, span.act {
	background: none;
	border: none;
	font-weight: bold;
	color:  $text-color;
}

h3 {
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 14px;
}

.office h3 {
	margin-top: 29px;
}
.xs.office h3 {
	margin-top: 20px;
	margin-bottom: 12px;
}

.xs.office .row-first h3 {
	margin-top: 20px;
}

h1 {
	font-size: 30px;
	margin-top: 10px;
}

.home section {
	position: relative;
	margin: 30px 0 0 0;
}

section .col {
	margin-bottom: 15px;
}

section.content {
	padding-bottom: 30px;
}

#promotion-slides {
	/*	z-index:-1; */
	margin-top: 0px;
}

.touch #promotion-slides {
	/*	z-index:-1; */
	/* important to supply menu/slide z-index correctly */
}

/* layout definitions */

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}

header, #menu {
	width: 200px;
}

.projects.xs header, .office.xs header {
	right: 0;
}

#header {
	margin: 15px 0 0 15px;
	/* no margin to set #totop really to the top */
	z-index: 51;
	display: inline-block;
	background-color: white;
	padding: 0;
}

.projects.xs header #header, .office.xs header #header {
	display: block;
}

#logo, #menu {
	background-color: white;
}

#menu {
	margin-top: 1px;
}


.project #menu {
	
	#filterpanel {
		padding-top: 10px;
	}
	span.title {
		padding: 10px 10px 5px 10px;
	}
}

.extend, header #menu .btn.extend, #logo .logo.extend{
	display: none;
}

.reduce, #menu .title {
	display: block;
}
/*
#menu:hover {
	.extend {
		display: block;
	}
	.reduce {
		display: none;
	}
}
*/

#logo {
	border-bottom: 1px solid $text-color;
	display: inline-block;
}

.xs.projects #logo, .xs.office #logo {
	margin: 0 5px 0 0;
	padding: 5px 5px 0 5px;
}

.home .contact {
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;
	background-color: white;
	text-align: left;
	padding: 2px 10px 2px 10px;
	font-size: 13.7px;
}

.xs.home .contact {
	text-align: center;
}

#promotion-slides {
	background-color: #f3f3f3;
	height: 100%;
	width: 100%;
	position: fixed;
}

.xs #promotion-slides {
	position: relative;
}

#project-detail {
}

#project-detail, #project-detail .spacer {
	height: 100%;
}

.xs #project-detail {
	height: auto;
}

.xs #project-detail .spacer {
	display: none;
}

/* menu */
#header .btn {
	display: inline-block;
	background-color: #fff;
	border: none;
	padding: 5px 10px 5px 10px;
}

.projects.xs #menu #menu-projekte, .office.xs #menu #menu-projekte {
	padding: 5px 10px 5px 15px;
}

@media screen and (min-width: 550px) {
	#header .btn {
		display: block;
		text-align: left;
		float: none;
	}

	#header .btn.no2 {
		padding-top: 0;
	}
}

#logo .btn {
	background-color: #fff;
	border: none;
}

a.logo, a.logo:hover {
	text-decoration: none;
	color:  $text-color;
}

#logo .logo {
	display: block;
	padding: 7px 10px 6px 10px;
	white-space: nowrap;
}

/* content element: intro slides */
.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.carousel-control.right span {
	right: 25px;
	opacity: .8;
}

.carousel-control.left span {
	left: 25px;
	opacity: .8;
}

@media screen and (max-width: 549px) {
	.carousel-control.right span {
		right: 11px;
	}

	.carousel-control.left span {
		left: 11px;
	}
}

.carousel-control {
	text-shadow: none;
}

#promotion-slides .carousel, #promotion-slides .carousel-inner, #promotion-slides .item {
	height: 100%;
	width: 100%;
}

#promotion-slides .item {
	background-position: center center;
	background-size: cover;
}

#promotion-slides .carousel-navpanel {
	position: absolute;
	text-align: right;
	font-size: small;
	bottom: 15px;
	right: 15px;
	width: auto;
	left: inherit !important;
	margin: 0;
	background-color: white;
	padding: 3px 5px 1px 5px;
	z-index: 15;
}

#promotion-slides .carousel-navpanel span, #promotion-slides .carousel-navpanel ol {
	float: left;
	margin: 0;
	padding: 0;
}

#promotion-slides .carousel-navpanel span.next {
	margin-left: 10px;
}
#promotion-slides .carousel-navpanel .carousel-indicators {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	width: inherit;
	display: block;
}

#promotion-slides .carousel-indicators li {
	display: inline-block;
	border-radius: 0;
	border: none;
	margin: 0;
	height: 10px;
	width: auto;
	text-indent: inherit;
	padding: 0px 3px 0px 3px;
}

#promotion-slides .carousel-indicators li.active {
	color: #aaa;
}

#promotion-slides .carousel-indicators li.infolink {
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 20px;
}

#promotion-slides .carousel-caption {
	display: block;
	background-color: #fff;
	color: #000;
	text-shadow: none;
	font-size: small;
	left: 15px;
	bottom: 15px;
	right: 15px;
	text-align: left;
	padding: 0;
}

#promotion-slides .carousel-caption a {
	padding: 3px 10px 1px 10px;
	display: inline-block;
	text-overflow: ellipsis;
	width: 50%;
}

.xs #promotion-slides .carousel-caption a {
	width: 90%;
}

#promotion-slides .carousel-caption a span.text {
	max-width: 65%;
	display: inline-block;
	text-overflow: ellipsis;
	display: inline-block;
	line-height: 15px;
	margin-top: -4px;
	padding-top: 4px;
	margin-bottom: -3px;
}

.xs #promotion-slides .carousel-caption a span.text {
	max-width: 88%;
	display: inline-block;
	line-height: 15px;
	margin-top: -4px;
}

@media screen and (min-width: 550px) {
	#promotion-slides .carousel-caption a {
		width: 90%;
	}
	#promotion-slides .carousel-caption a span.text {
		max-width: 90%;
	}
}

@media screen and (min-width: 900px) {
	#promotion-slides .carousel-caption a {
		width: 75%;
	}
	#promotion-slides .carousel-caption a span.text {
		max-width: 90%;
	}
}

#content {
	margin-top: 0px;
}
/* content element: project tile */

.project-tile {
	padding: 0 0 0 25px;
	margin: 0;
}

.project-tile a {
	position: relative;
	background-color: #eee;
	background-position: center center;
	background-size: cover;
	display: block;
	margin-bottom: 25px;
}

.project-tile .inner-wrap:after {
	/* 1:1,4 ratio for project tiles */
	padding-top: 67%;
	display: block;
	content: '';
}

.project-tile h3 {
	font-weight: normal;
	font-size: 13px;
	position: absolute;
	bottom: -19px;
	left: 0px;
	background-color: #fff;
	margin: 0;
	padding: 3px 0px 1px 0px;
	white-space: nowrap;
	right: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-touch .project-tile h3 {
	visibility: hidden;
}

.no-touch .project-tile a:hover h3 {
	visibility: visible;
	font-weight: normal;
}

@media screen and (max-width: 549px) {

	.project-tile {
		padding: 0;
	}

	.project-tile h3 {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* filter panel */
#project-navigator nav {
	margin-bottom: 10px;
}

#project-navigator h1 {
	margin-bottom: 20px;
}

#filter {
	position: absolute;
	right: 15px;
	top: 11px;
	font-size: small;
}

#filterpanel {
	margin-top: 0px;
	padding-top: 30px;
	margin-left: 0px;
}
#filterpanel a {
	float: none;
	display: block;
	padding: 0px 10px 5px 10px;
}

@media screen and (max-width: 549px) {
	#filterpanel {
		display: none;
		margin: 3px 0 0 0;
		z-index: 20;
		background-color: white;
		border-top: 1px $text-color solid;
		padding: 5px 5px;
	}

	#filterpanel a {
		display: block;
		padding: 5px 10px 5px 10px;
	}
	#filterpanel a.all {
	}
	#project-navigator nav {
		margin-bottom: 0px;
	}

	#project-tiles, #content {
		margin-top: 75px;
	}

}

@media screen and (max-width: 549px) {
	h1 {
		margin-top: 0;
	}
}

dt {
	float: left;
	padding-right: 10px;
}
dd {
	margin-bottom: 8px;
}

@media screen and (max-width: 549px) {
	dt, dd {
		margin-bottom: 5px;
	}
	dt {
		float: left;
		min-width: 75px;
	}
	dd {
		margin-left: 75px;
	}
}

@media screen and (min-width: 900px) {
	dt, dd {
		margin-bottom: 5px;
	}
	dt {
		float: left;
		min-width: 75px;
	}
	dd {
		margin-left: 75px;
	}
}

.btn:hover, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	text-decoration: none;
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.subline {
	position: absolute;
	bottom: 5px;
	left: 30px;
	padding: 5px 10px 2px 10px;
	background-color: white;
}

#project-tiles {
	padding: 0 !important;
}

@media screen and (max-width: 549px) {

	.col-no-padding {
		padding-left: 0;
		padding-right: 0;
	}

	.col-no-padding .subline {
		left: 15px;
	}

	.carousel .col-with-padding {
		padding-left: 30px;
		padding-right: 30px;
	}

	#project-tiles {
		margin-left: -15px;
		margin-right: -15px;
	}

	.projects #header, .office #header, .imprint #header {
		margin: 0;
	}

	#filterpanel {
		margin-left: 0px;
	}

}

@media screen and (min-width: 550px) {
	.col-fix-left {
		width: 190px;
		float: left;
		position: fixed;
		top: 0;
		left: 0;
	}

	.col-dyn-right {
		margin-left: 196px;
		margin-top: 0px;
	}

	#project-tiles {
		margin-top: 0px;
	}

}

@media screen and (min-width: 900px) {
	.col-fix-left {
		width: 200px;
		float: left;
		position: fixed;
		top: 0;
		left: 0;
	}

	.col-dyn-right {
		margin-left: 216px;
		margin-top: 0px;
	}

	#project-tiles {
		margin-top: 0px;
	}

}

.clear {
	clear: both;
}

.project .carousel-control {
	bottom: 50px;
}

.carousel-control.right {
	width: 80%;
}
.carousel-control.left {
	width: 20%;
}

.home .carousel-control.right {
	width: 40%;
}
.home .carousel-control.left {
	width: 40%;
}

.touch .carousel-control.right, .touch .carousel-control.left {
	width: 10%;
}

.carousel-inner .container-fluid {
	padding-left: 0;
	padding-right: 0;
}

h4.justify-to-img {
	margin-top: 0px;
}

#carousel-partner h4 {
	margin-bottom: 5px;
}

#carousel-partner .carousel-inner a {
	display: block;
	padding: 1px 0px;
}

#carousel-partner .carousel-inner .left-right-buttons {
	margin-top: 10px;
}

#carousel-partner .carousel-inner .left-right-buttons a {
	display: inline-block;
}

#Impressum {
	font-size: 90%;
	padding-top: 60px;
}

/*
 Größerer Abstand von Logo und weißen Balken zum Rand bei großen Auflösungen
 */

@media screen and (min-width: 900px) {

	#header, .projects #header, .office #header {
		margin: 25px 0 0 25px;
	}

	#promotion-slides .carousel-caption, .home .contact {
		left: 25px;
		bottom: 25px;
		right: 25px;
	}

	#promotion-slides .carousel-navpanel {
		bottom: 25px;
		right: 25px;
	}
}

.xs #menu.affix {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0px 5px 0px 0px;
	background-color: white;
	margin: 0px 0px 5px 0px;
	z-index: 250;
}

#carousel-promotion-slides .item .news {
	position: absolute;
	right: 0;
	top: 35%;
	width: 40%;
	background-color: white;
	padding: 8px 10px;
	font-size: large;
	z-index: 200;
}

.xs #carousel-promotion-slides .item .news {
	width: 70%;
}

address {
	display: inline;
	margin: 0;
	padding: 0;
}

.icon {
	display: inline-block;
	background-size: 80%;
	background-position: 3px 2px;
	background-repeat: no-repeat;
	min-width: 20px;
	padding: 0;
	margin-left: 3px;
}

.carousel-caption .icon, .carousel-navpanel .icon {
	background-size: 65%;
}

.menu-projekte .icon {
	display: none;
}
.xs .menu-projekte .icon {
	display: inline-block;
}

.office .row {
	margin-bottom: 29px;
}

.carousel .row {
	margin-bottom: 0;
}

@media screen and (max-width: 899px) {
	.office .right {
		margin-top: 15px;
	}
	.office .right h3 {
		margin-top: 0px;
	}
}

#promotion-slides .carousel-navpanel span.circle {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: 1px #040606 solid;
	margin: -1px;
}

.active .circle {
	background-color: #040606;
}

#carousel-teamakt .icon, #carousel-partner .icon {
	margin-left: 0;
	background-position: 0px 2px;
}

#carousel-partner .carousel-control.left {
	width: 45%;
}

#carousel-partner .carousel-control.right {
	width: 45%;
}

@media screen and (max-width: 899px) {
	#carousel-partner .carousel-control.left, #carousel-partner .carousel-control.right {
		bottom: initial;
		height: 65%;
		margin: 0;
	}
}

@media screen and (min-width: 900px) {
	#carousel-partner .carousel-control.left {
		width: 20%;
	}

	#carousel-partner .carousel-control.right {
		right: 52%;
		width: 20%;
	}
}

@media screen and (min-width: 1200px) {
	#carousel-partner .carousel-control.right {
		right: 60%;
	}
}

.xs.project .icon-arr-n {
	display: none;
}
.project .affix-top .icon-arr-n {
	display: none;
}

.project .affix .icon-arr-s {
	display: none;
}

.home .news .icon {
	background-position: 3px 5px;
}

.firefox .home .news .icon {
	background-position: 3px 6px;
}

.carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	opacity: 0;
}
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
	z-index: 2;
}
html, body, .carousel, .carousel-inner, .carousel-inner .item {
	height: 100%;
}

.projects .container-fluid {
	padding-right: 0;
}

.carousel-caption i {
	font-style: normal;
}

.carousel-caption i {
	display: none;
}

.active .carousel-caption i {
	display: inline;
}

/* exception for homepage news */
a:hover .news {
	font-weight: normal;
}

a .news:hover{
	font-weight: bold;
}
@media screen and (max-width: 899px) {
	#promotion-slides .carousel-indicators li.hidden-xs-sm {
		display: none;
	}
}

/* extra setting for screens over 1600px */
@media screen and (min-width: 1600px) {
	.col-xl-3 {
		width: 25%;
	}
}


@media screen and (max-width: 549px) {
	#promotion-slides .item.first .carousel-caption .text .hidden-xs {
		display: inline-block !important;
	}
	#promotion-slides .item.first .carousel-caption .text .hidden-xs .sep {
		display: none;
	}
	#promotion-slides .item.first .carousel-caption .text .photo-caption {
		display: none;
	}
	
}


@media screen and (min-width: 550px) {
	.office .col-no-right-padding {
		padding-right: 0;
	}
	.office #content {
		padding-right: 0;
	}
	.office .col-extra-right-padding {
	}
	.office .textcontent {
	    padding-right: 30px;
	}
}

@media screen and (min-width: 900px) {
	.office .right.textcontent {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    padding-right: 30px;
	}
	.office .left.textcontent {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}
	.office .row {
		position: relative;
	}
	.office .img-responsive {
		width: 100%;
	}
}

