<!DOCTYPE html>
<html lang="de">
  {% include inc_head.html %}
<body class="project" id="top" lang="de">

    <section id="promotion-slides">

		<div id="carousel-promotion-slides" class="carousel slide" data-ride="" data-pause="hover" data-interval="false">
		  <div class="carousel-inner" role="listbox">

{% assign counter = 0 %}
{% for image in page.images %}
	
		    <div class="item{% if counter == 0 %} first{% endif %} {% if counter == 0 %} active{% endif %}{% if counter == 0 %} loadfast{% endif %}{% if counter == 1 %} loadfast{% endif %}" data-image="{{ image | prepend: site.url }}">
			      <div class="carousel-caption">
			        <a href="#project-detail-content"><i><span class="text"><span class="hidden-xs">{{ page.shorttitle }}<span class="sep"> //&nbsp;</span></span>{% assign captioncounter = 0 %}{% for caption in page.captions %}{% if captioncounter == counter %}<span class="photo-caption">{{ caption }}</span>{% endif %}{% assign captioncounter = captioncounter | plus: 1 %}{% endfor %}</span><span class="icon icon-arr-s">&nbsp;</span><span class="icon icon-arr-n">&nbsp;</span></i>&nbsp;</a>
			      </div>
		    </div>

	{% assign counter = counter | plus: 1 %}
{% endfor %}

		  </div>

		  <div class="carousel-navpanel">
		  <ol class="carousel-indicators">
{% assign counter = 0 %}
{% for image in page.images %}
			<li class="hidden-xs-sm totop {% if counter == 0 %} active{% endif %}" data-target="#carousel-promotion-slides" data-slide-to="{{ counter }}"><span class="circle"></span></li>
	{% assign counter = counter | plus: 1 %}
{% endfor %}
		  </ol>
		  	<span class="totop next" href="#carousel-promotion-slides" role="button" data-slide="next"><span class="icon icon-arr-e">&nbsp;</span></span>
		  </div>

		<header>
			<div id="header">
			    <div id="logo">
			    	<a href="/" class="logo">
				        <strong>Numrich Albrecht Klumpp</strong>
			    	</a>
			    </div>
				<nav id="menu">
					<a id="menu-projekte" href="/projekte/" class="extend no1 act btn btn-default">Projekte<span class="visible-xs-inline-block icon icon-arr-s">&nbsp;</span></a>
					<span id="menu-projekte" class="reduce no1 act btn btn-default">Projekte<span class="visible-xs-inline-block icon icon-arr-s">&nbsp;</span></span>
		    		<a href="/buero/" class="extend no2 btn btn-default">Büro</a>
		    		<span class="reduce no2 btn btn-default">Büro</span>
<!--
					{% for filter in site.data.filters %}
						{% assign pagetag = page.tags | first %}
						{% if filter.tags contains pagetag %}
							<span class="title act">{{ page.shorttitle }}</span>
						{% endif %}
					{% endfor %}
-->
					<div id="filterpanel" class="extend">
			    		<a href="/projekte/" class="no1 btn btn-default">Alle Projekte</a>							
						{% for filter in site.data.filters %}
							{% assign pagetag = page.tags | first %}
							{% if filter.tags contains pagetag %}
								<a class="act" href="/projekte/#{% assign tagcounter = 0 %}{% for tag in filter.tags %}{% if tagcounter > 0 %}-{% endif %}{{tag | slugify}}{% assign tagcounter = tagcounter | plus: 1 %}{% endfor %}">{{ filter.name }}</a>
							{% else %}			
								<a href="/projekte/#{% assign tagcounter = 0 %}{% for tag in filter.tags %}{% if tagcounter > 0 %}-{% endif %}{{tag | slugify}}{% assign tagcounter = tagcounter | plus: 1 %}{% endfor %}">{{ filter.name }}</a>
							{% endif %}
						{% endfor %}
						<div class="clear"></div>
					</div>
		    		</nav>
			</div>
		</header>
		
		  <a class="left carousel-control totop" href="#carousel-promotion-slides" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Zurück</span>
		  </a>
		  <a class="right carousel-control totop" href="#carousel-promotion-slides" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Weiter</span>
		  </a>
		</div>

    </section>


    <section id="project-detail">
    	<div class="spacer"></div>
	    <div class="container-fluid">
			<div class="row">
				<div id="project-detail-content" class="col-xs-12 col-sm-7 col-sm-offset-4 col-md-7 col-md-offset-3 col-lg-7 col-lg-offset-3">
				
					<a id="close" href="#top"><span class="icon icon-x">&nbsp;</span></a>
				
					<h1>{{ page.title }}</h1>
					
					{{ content }}

				</div>
			</div>
		</div>
    </section>


    {% include inc_scripts.html %}

</body>
</html>